@model IEnumerable<WebApplication_EF_Core_Code_First.Models.Bolum>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BolumAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Universite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BolumAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Universite.UniversiteId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BolumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BolumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BolumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
